html { font-size:100%; }
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  overflow-x: hidden;
  /*to elimnate the white space at the right*/
  text-align: center;
}
img { max-width: 100%; height: auto; }
h1 {
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

h2 {
  color: #e93b81;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
  margin: 0;
}

h3 {
  color: #132c33;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: #132c33;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 130px;
}

p {
  color: #132c33;
  font-size: 20px;
}

.top_container {
  background-color: #f38181;
  padding-top: 80px;
  position: relative;
}

.c1 {
  bottom: 20px;
  height: 20%;
  left: 200px;
  position: relative;
  width: 20%;
}

.c2 {
  height: 22%;
  left: 200px;
  position: absolute;
  top: 360px;
  width: 20%;
}

.m1 {
  height: 60%;
  width: 60%;
}

.pi {
  bottom: 30px;
  position: relative;
}

.sun {
  bottom: 20px;
  height: 13%;
  position: relative;
  right: 10px;
  width: 13%;
}

.middle-container {
  background-color: #fce38a;
  padding-bottom: 70px;
  padding-right: 10px;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-color: #95e1d3;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  color: #4b778d;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 5%;
}

.sk1 {
  bottom: 230px;
  font-weight: bold;
  left: 300px;
  position: absolute;
}

.sk2 {
  bottom: 230px;
  font-weight: bold;
  left: 500px;
  position: absolute;
}

.sk3 {
  bottom: 230px;
  font-weight: bold;
  left: 700px;
  position: absolute;
}

.sk4 {
  bottom: 230px;
  font-weight: bold;
  position: absolute;
  right: 520px;
}

.sk5 {
  bottom: 230px;
  font-weight: bold;
  position: absolute;
  right: 350px;
}

.computer {
  bottom: 50px;
  left: 0;
  position: absolute;
}

.tennis {
  bottom: 150px;
  left: 750px;
  position: absolute;
}

.dec1 {
  bottom: 800px;
  height: 30%;
  left: 1095px;
  position: absolute;
  transform: rotate(35deg);
  width: 30%;
}

.dec2 {
  bottom: 795px;
  height: 30%;
  position: absolute;
  right: 1115px;
  transform: rotate(-20deg);
  width: 30%;
}

a {
  color: #132c33;
  text-decoration: none;
}

.aboutme {
  font-size: 500%;
}

.typeme {
  color: white;
  margin-bottom: 50px;
}
.btn{
  background-color:#132c33;
  border-radius: 5px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  position: relative;
  top:30px;
}
.btn:hover{
  background-color: black;
}
.linkedin{
  color: #6e7c7c;
}
.linkedin:hover{
  color: white;
}
